@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root{
    --main__color1: #76C893;

    --color1: red;
    --color2: orange;
    --color3: yellow;
    --color4: yellowgreen;
    --color5: green;
    --color6: skyblue;
    --color7: blue;
    --color8: violet;
    --color9: brown;
    --color10: gray;
}


::-webkit-scrollbar{width: .5rem;}
::-webkit-scrollbar-track{background: #76c89375;}
::-webkit-scrollbar-thumb{background: #76C893; border-radius: 100vw;}
::-webkit-scrollbar-thumb:hover{background: #53ae73;}


a{text-decoration: none;}
p{margin: 0;}
ul{margin: 0;padding: 0;}
li{list-style-type: none;}
img{width: 100%;}


body{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
}


// HEADER
header{
    width: 80%;
    margin: 0 auto;
    padding: 1.3rem 0;
    display: flex;
    align-items: center;
}



.header__logo{
    display: flex;
    align-items: center;
    flex: 1;
    img{
        width: 7.375rem;
    }
}



.header__links{
    flex: 1;
    ul{
        display: flex;
        align-items: center;
        justify-content: right;
        li{
            margin-left: 4.4rem;
            a{
                color: #222;
                font-size: 0.875rem;
                font-weight: 400;
            }
            a:hover{
                color: var(--main__color1);
            }
        }
    }
}
.active{
    border-bottom: solid 0.125rem var(--main__color1);
    transition: none;
}



// hero__section
.hero__container{
    background: var(--color1);
    background: url(../img/hero__background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 28.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    width: 80%;
    height: 23.62500rem;
}



.hero__quote-img{
    display: flex;
    align-items: top;
    height: 60%;
    img{
        width: 26.1875rem;
        height: 10.0625rem;
    }
}



.hero__enroll-details{
    height: 20%;
    p{
        color: #fff;
        max-width: 26.1875rem;
        font-size: 0.875rem;
    }
}



.hero__enroll-button{
    height: 20%;
    position: relative;
}
.enroll-button{
    position: absolute;
    border: solid 2px white;
    border-radius: 2px;
    height: 2.125rem;
    width: 6.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    transition: .3s;
    a{
        color: #fff;
    }
    &:hover{
        background: #fff;
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
        a{
            color: #76C893;
        }
    }
}



// social-section
.social__links-container{
    position: relative;
}



.social__links{
    width: 80%;
    margin: 0 auto;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        li{
            margin: 0 3rem;
            a{
                font-size: 1.125rem;
                font-weight: 400;
                color: #76C893;
                opacity: 50%;
                margin: 0 3rem;
                transition: .3s;
            }
            a:hover{
                opacity: 100%;
            }
        }
    }
}



.scroll-arrow{
    position: absolute;
    right: 4.5%;
    transform: translateY(-50%);
    path{
        animation: scroll ease-in-out 1.7s infinite
    }
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(5px);
    }
}


// employee-section
.employee__container{

}



.employee__title{
    p:nth-of-type(1){
    }
    p:nth-of-type(2){
    }
}



.employee__carousel{

}
.carousel__track-container{

}

.carousel__track{

}

.carousel__slide{

}

.slide__content-container{

}

.slide__content{

}

.picture{
    img{

    }
}

.details{

}
.name{
    p:nth-of-type(1){

    }
    p:nth-of-type(2){

    }
}
.info{
    p{

    }
}

.carousel__button{
    img{

    }
}

.carousel__nav{
    li{

    }
}